body {
background-color: #eee;
}

.center-text{
text-align: center;
}

.display-5{
margin-left: auto; 
margin-right: auto;
}

.row {
background-color: #fff;
padding-top: 10px;
border: 1px solid black;
}

.title {
background-color: #eee !important;
display: flex;
}

.nav {
border: 1px solid black;
margin-bottom: 10px;
}

.nav .justify-content-end {
border: 1px solid black;
margin-bottom: 10px;
}

.nav .nav-item {
border: 1px solid black;
}

.jumbotron {
border: 1px solid black;
}